.container {
  min-width: 450px;
  margin: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: rgb(34, 142, 164);
  margin: 40px;
}

.inputbox {
  margin: auto;
  display: flex;
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
}

.inputbox input {
  width: 100%;
}

.inputbox button {
  background-color: rgba(47, 171, 212, 0.808);
  border-radius: 3px;
  color: white;
  font-size: medium;
  font-weight: 900;
  margin-left: 10px;
  width: 100px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit {
  min-width: 250px;
}

.todos {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.todo {
  display: flex;
}

.todo input {
  margin: 18px 7px 18px 0px;
  font-size: 15px;
}

.done {
  display: flex;
  text-decoration: line-through;
  color: gray;
}

.done input {
  margin: 18px 7px 18px 0px;
  font-size: 15px;
}

.icon {
  display: flex;
  gap: 15px;
}
